@page "/extension/{ubicacion}/"

@using BaseDatos
@using Listados
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient

@inject IHttpContextAccessor contexto

@{
	string? idioma = contexto?.HttpContext?.Request.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();

	string descripcion = Herramientas.Idiomas.BuscarTexto(idioma, "String1", proyecto.Id);
	string titulo = proyecto.Nombre + " • " + descripcion;
	string enlace = "https://pepeizqapps.com" + proyecto.Ubicacion;
	string imagen = "https://pepeizqapps.com/imagenes/" + proyecto.Id + "/logo.webp";
	string keywords = "source code";

	if (string.IsNullOrEmpty(descripcion) == false)
	{
		string[] keywordsEnBruto = Herramientas.Buscador.LimpiarNombre(titulo, false).Split(' ');
		List<string> keywordsLista = new List<string>();
		keywordsLista.AddRange(keywordsEnBruto);

		foreach (string keyword in keywordsLista)
		{
			if (keyword.Length > 3 && keywords.Contains(keyword) == false)
			{
				keywords = keywords + ", " + keyword;
			}
		}
	}

	<HeadContent>
		<PageTitle>@titulo</PageTitle>

		<meta name="og:title" Content="@titulo" />
		<meta name="description" content="@descripcion" />
		<meta name="og:description" content="@descripcion" />
		<meta name="og:url" content="@enlace" />
		<meta name="og:image" content="@imagen" />
		<meta name="og:site_name" content="pepeizq's apps" />
		<meta name="og:type" content="website" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="@keywords" />

		<script type="application/ld+json">
			{
			  "@@context": "https://schema.org",
			  "@@type": "SoftwareApplication",
			  "name": "pepeizq's deals for Steam and GOG",
			  "description": "@descripcion",
			  "operatingSystem": "WINDOWS",
			  "applicationCategory": "BrowserApplication",
			  "offers": {
				"@@type": "Offer",
				"price": 0,
				"priceCurrency": "EUR"
			  },
			  "aggregateRating": {
				"@@type": "AggregateRating",
				"ratingValue": 4.5,
				"ratingCount": 3
			  }
			}
		</script>

		<link rel="canonical" href="@enlace" />
	</HeadContent>
}

<style>
	.boton-navegador {
		background-color: var(--fondoBoton);
		transition: transform .2s;
		border-radius: 5px;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28),0px 0px 1px 0px rgba(0, 0, 0, 0.24);
	}

		.boton-navegador:hover {
			transform: scale(1.1);
		}
</style>

<div style="display: flex; flex-direction: column; background-color: var(--fondoEntrada); padding: 30px; gap: 30px;">
	<div class="caja-diseño" style="background: linear-gradient(180deg, @proyecto.Color1 0%, var(--fondoEntrada) 211.07%); display: flex; align-items: center;">
		@if (string.IsNullOrEmpty(proyecto.Enlace) == false)
		{
			<a href="@proyecto.Enlace" target="_blank">
				<img src="@Herramientas.Imagenes.ServidorExterno("/imagenes/" + proyecto.Id + "/logo.webp", 140, 140)" style="width: 140px; height: 140px;" alt="logo"/>
			</a>
		}
		else
		{
			<img src="@Herramientas.Imagenes.ServidorExterno("/imagenes/" + proyecto.Id + "/logo.webp", 140, 140)" style="width: 140px; height: 140px;" alt="logo"/>
		}

		<div style="padding: 20px 30px;">
			<div style="font-size: 22px;">@proyecto.Nombre</div>
			<div style="margin-top: 10px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String1", proyecto.Id)</div>
		</div>
	</div>

	<div style="display: flex; align-items: stretch; gap: 40px;">
		<div class="caja-diseño" style="width: 66%; display: flex; flex-direction: column; padding: 15px 25px; justify-content: center; text-align: center;">
			<div style="font-size: 18px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String2", proyecto.Id)</div>
			<hr/>
			
			<div style="display: flex; align-items: center; gap: 30px; justify-content: center;">
				<a href="@chrome" target="_blank" title="Chrome" style="text-decoration: none; color: var(--colorTexto);">
					<div class="boton-navegador" style="display: flex; align-items: center; background-color: #147f4b;">
						<div style="width: 60px; height: 60px;">
							<svg style="fill: var(--colorTexto); margin: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M64 320C64 273.4 76.5 229.6 98.3 191.1L208.1 382.3C230 421.5 271.9 448 320 448C334.3 448 347.1 445.7 360.8 441.4L284.5 573.6C159.9 556.3 64 449.3 64 320zM429.1 385.6C441.4 366.4 448 343.1 448 320C448 281.8 431.2 247.5 404.7 224L557.4 224C569.4 253.6 576 286.1 576 320C576 461.4 461.4 575.1 320 576L429.1 385.6zM541.8 192L320 192C257.1 192 206.3 236.1 194.5 294.7L118.2 162.5C165 102.5 238 64 320 64C414.8 64 497.5 115.5 541.8 192zM408 320C408 368.6 368.6 408 320 408C271.4 408 232 368.6 232 320C232 271.4 271.4 232 320 232C368.6 232 408 271.4 408 320z" />
							</svg>
						</div>

						<div style="padding-right: 15px;">
							Chrome
						</div>
					</div>
				</a>

				<a href="@firefox" target="_blank" title="Firefox" style="text-decoration: none; color: var(--colorTexto);">
					<div class="boton-navegador" style="display: flex; align-items: center; background-color: #d63d00;">
						<div style="width: 60px; height: 60px;">
							<svg style="fill: var(--colorTexto); margin: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M194.2 191.5L194.2 191.5zM545.6 236.9C535 211.4 513.5 183.9 496.7 175.2C510.4 202.1 518.4 229.1 521.4 249.2C521.4 249.3 521.4 249.5 521.5 249.6C493.9 180.8 447.1 153.1 408.9 92.8C393.9 69.1 398 67.6 395.8 68.1L395.7 68.2C349 94.2 320.4 146.6 313.1 190.9C296.5 191.8 280.2 195.9 265.2 203C263.8 203.6 262.7 204.7 262.1 206C261.5 207.3 261.2 208.8 261.5 210.3C261.7 211.1 262.1 211.9 262.6 212.6C263.1 213.3 263.8 213.9 264.5 214.3C265.2 214.7 266.1 215 266.9 215.1C267.7 215.2 268.6 215.1 269.4 214.8L269.9 214.6C285.4 207.3 302.3 203.4 319.4 203.3C382.2 202.7 416.6 247.3 427 265.6C414 256.4 390.6 247.4 368.2 251.3C455.9 295.2 432.4 445.8 310.8 440.5C251.3 437.9 213.7 389.5 210.3 349.7C210.3 349.7 221.5 307.8 290.9 307.8C298.4 307.8 319.8 286.9 320.2 280.8C320.1 278.8 277.7 261.9 261.1 245.6C252.3 236.9 248 232.7 244.3 229.5C242.3 227.8 240.2 226.2 238 224.7C232.4 205.2 232.2 184.7 237.3 165.1C212.2 176.5 192.7 194.5 178.6 210.5L178.5 210.5C168.8 198.3 169.5 157.9 170.1 149.4C170 148.9 162.9 153.1 161.9 153.7C153.3 159.8 145.4 166.6 138.1 174.1C121.8 190.7 94 224.3 82.6 275.3C78.1 295.7 75.8 319.7 75.8 327.6C75.8 462.3 185 571.5 319.7 571.5C440.3 571.5 542.7 484.3 560.1 368.9C571.7 292.2 545.4 237.8 545.4 236.9z" />
							</svg>
						</div>

						<div style="padding-right: 15px;">
							Firefox
						</div>
					</div>
				</a>

				<a href="@edge" target="_blank" title="Edge" style="text-decoration: none; color: var(--colorTexto);">
					<div class="boton-navegador" style="display: flex; align-items: center; background-color: #0078d7;">
						<div style="width: 60px; height: 60px;">
							<svg style="fill: var(--colorTexto); margin: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M184.1 101.4C225.1 76.2 271.7 63.2 319 64C487 64 576 187.8 576 283.5C575.9 316.2 563 347.4 540.1 370.7C517.2 393.9 486.1 407.2 453.4 407.7C378.2 407.7 361.9 384.6 361.9 375.7C361.9 371.9 363.1 369.5 366.7 366.3L367.7 365.1L368.1 363.5C378.6 352 384 337.3 384 321.9C384 243.2 301.8 179.2 200 179.2C162.5 178.9 125.5 188.1 92.5 206.1C119.5 148.6 175.2 108.5 183.8 102.3C184.6 101.7 184.1 101.5 184.1 101.5zM199.7 419.5C198.3 449.5 204.3 479.5 216.1 506.7C229.7 533.1 248.8 557.7 272.6 576C213.1 564.5 161.1 532.1 123.2 486.7C85.1 440.3 64 382.4 64 321.9C64 270.7 126.4 227.5 200 227.5C236.6 226.9 272.4 238.4 301.8 260.2L298.2 261.4C246.7 279 199.7 352.1 199.7 419.5zM533.8 464L533.1 464.1C521.3 482.9 507.2 499.2 490.9 513.6C460.1 541.6 422.8 559.1 382.1 563.5C363.5 563.8 345.3 560.3 328.3 552.1C302.7 541.8 281.2 522.1 266.7 499.1C252.3 475.2 245.6 447.4 247.7 419.5C247.1 399.4 253.1 379.2 262.7 361.3C276.6 394.4 300.2 422.6 330.3 442.1C360.4 461.6 395.8 471.6 431.7 470.7C462.7 471 493.8 464 521.9 450.2L523.8 449.3C527.7 447 531.5 445.4 535.4 449.3C539.9 454.2 537.2 458.5 534.2 463.3C534 463.5 533.9 463.8 533.8 464z" />
							</svg>
						</div>
						
						<div style="padding-right: 15px;">
							Edge
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="caja-diseño" style="width: 33%; background-color: @proyecto.Color2;">
			<div style="background-color: #24292e; color: var(--colorTexto); display: flex; flex-direction: column; padding: 15px 25px; justify-content: center; text-align: center; height: 100%;" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String3", proyecto.Id)">
				<div style="font-size: 18px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String3", proyecto.Id)</div>
				<hr />

				<div style="display: flex; align-items: center; justify-content: center; height: 60px;">
					<a href="https://github.com/pepeizq/@proyecto.Github" target="_blank" title="Github" style="text-decoration: none; color: var(--colorTexto);">
						<div class="boton-navegador" style="display: flex; align-items: center; background-color: #0a0c0d;">
							<div style="width: 40px; height: 40px;">
								<svg style="fill: var(--colorTexto); margin: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
									<path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
								</svg>
							</div>

							<div style="padding-right: 10px;">
								Github
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="caja-diseño" style="display: flex; align-items: center; gap: 60px; padding: 30px;">
		@{
			string captura1 = "/imagenes/" + proyecto.Id + "/captura1.webp";
		}
		
		<button @onclick="(e => CargarImagen(e, captura1))" style="text-align: center; padding: 0px; border: 0px; background: transparent;">
			<img src="@Herramientas.Imagenes.ServidorExterno(captura1)" class="expandir" style="width: 30vw; border: 1px solid var(--colorEnlace); cursor: pointer;" alt="screenshot"/>
		</button>

		<div style="display: flex; flex-direction: column; gap: 40px;">
			<div>@Herramientas.Idiomas.BuscarTexto(idioma, "String4", proyecto.Id)</div>

			<div>
				<div>@Herramientas.Idiomas.BuscarTexto(idioma, "String5", proyecto.Id)</div>
				<ul style="margin-top: 10px;">
					<li>@Herramientas.Idiomas.BuscarTexto(idioma, "String6", proyecto.Id)</li>	
					<li>@Herramientas.Idiomas.BuscarTexto(idioma, "String7", proyecto.Id)</li>
					<li>@Herramientas.Idiomas.BuscarTexto(idioma, "String8", proyecto.Id)</li>	
				</ul>
			</div>
		</div>	
	</div>

	<div class="caja-diseño" style="padding: 30px; display: flex; flex-direction: column;">
		<div style="text-align: center; font-size: 18px;">
			@Herramientas.Idiomas.BuscarTexto(idioma, "String9", proyecto.Id)
		</div>
		<hr/>

		<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 40px;">
			@{
				int i = 2;

				while (i < 6)
				{
					string captura = "/imagenes/" + proyecto.Id + "/captura" + i.ToString() + ".webp";

					<button @onclick="(e => CargarImagen(e, captura))" style="text-align: center; padding: 0px; border: 0px; background: transparent;">
						<img src="@Herramientas.Imagenes.ServidorExterno(captura)" class="expandir" style="border: 1px solid var(--colorEnlace); max-width: 100%; max-height: 100%; cursor: pointer;" alt="screenshot"/>
					</button>

					i += 1;
				}
			}
		</div>
	</div>
</div>

@if (string.IsNullOrEmpty(imagenAbierta) == false)
{
	<div style="height: 100%; width: 100%; left: 0; top: 0; overflow-x: auto; position: fixed; z-index: 10000; padding: 20px; backdrop-filter: blur(15px);">
		<div style="height: auto; width: auto;">
			<button style="color: var(--colorTextoVisitado); background-color: transparent; border: 0px;" @onclick="(e => CerrarImagen(e))">
				<svg xmlns="http://www.w3.org/2000/svg" style="width: 30px; height: 30px; fill: var(--colorTextoVisitado);" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
			</button>
		
			<img src="@Herramientas.Imagenes.ServidorExterno(imagenAbierta)" style="width: 100%; height: 100%; margin-top: 20px;" alt="image"/>
		</div>
	</div>
}

@code {

	#nullable disable

	[Parameter]
	public string ubicacion { get; set; }

	private string imagenAbierta = string.Empty;

	SqlConnection conexion = new SqlConnection();

	private Proyecto proyecto = new Proyecto();
	private GithubBaseDatos github = new GithubBaseDatos();

	private string chrome = "https://chromewebstore.google.com/detail/ndbpejegbkeanojebmfidnbjahlfebno/";
	private string edge = "https://microsoftedge.microsoft.com/addons/detail/ginjggkpgajamlcnckkjhbblibanbklh";
	private string firefox = "https://addons.mozilla.org/firefox/addon/pepe-s-deals-for-steam-and-gog/";

	protected override void OnInitialized()
	{
		if (string.IsNullOrEmpty(ubicacion) == false)
		{
			proyecto = global::Listados.Proyectos.DevolverProyecto("/extension/" + ubicacion);

			if (conexion.State != System.Data.ConnectionState.Open)
			{
				conexion = Herramientas.BaseDatos.Conectar();
			}

			using (conexion)
			{
				github = BaseDatos.Github.Buscar(conexion, proyecto.Github);
			}
		}
	}

	private void CargarImagen(MouseEventArgs e, string nuevaImagen)
	{
		imagenAbierta = nuevaImagen;
	}

	private void CerrarImagen(MouseEventArgs e)
	{
		imagenAbierta = string.Empty;
	}
}
